.signinlist label {
    padding-left: 0;
  }
  #remember {
    margin-right: 0;
    margin-left: 5px;
    position: relative;
  }
  .card.card-border {
    background-color: #ffffff;
    border-radius: 25px;
    margin-bottom: -108px;
    margin-top: 90px;
    z-index: 2;
    position: relative;
    filter: drop-shadow(0 30px 51px rgba(0, 0, 0, 0.11));
  }
  .card.card-border .p-4 {
    padding: 25px 45px;
  }
  .home-input {
    background: #F3F3F3;
    border-radius: 40px;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 56px;
    overflow: hidden;
    padding-left: 8px;
    border: 1px solid #DEDEDE;
  }
  .ar .home-input {
    padding-right: 8px;
    padding-left: 0;
  }
  .icon {
    width: 42px;
    background: #000;
    height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 50px;
    min-width: 42px;
    color: #fdf001;
  }
  .card.card-border .col-lg-4 input {
    font-weight: 400;
    border: none;
    outline: none;
    background-color: transparent;
    height: 56px;
    margin-left: 2px;
    padding-left: 15px;
    flex: 1;
    color: #545353;
  }
  .ar .card.card-border .col-lg-4 input {
    padding-left: 0;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 2px;
  }
  .hl-btn-wrapper input[type="checkbox"] {
    display: none;
  }
  .hl-btn {
    width: 60px;
    height: 60px;
    background: #FDF001;
    border: 1px solid RGBA(87, 102, 143, 0.13) !important;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    min-width: auto;
  }
  input:checked ~ .hl-btn {
    background-color: #000;
    border-color: #000;
    color: #FDF001;
  }
  .card.card-border .row {
    display: flex;
    flex-wrap: wrap;
  }
  .card.card-border .row:before,
  .card.card-border .row:after {
    display: none;
  }
  .col-auto {
    flex: 0 0 auto;
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  .card.card-border .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    float: none;
  }
  .hl-btn-wrapper {
    display: inline-flex;
  }
  .col-lg-2.both-buttons {
    display: flex;
    justify-content: space-around;
    padding-right: 0;
    padding-left: ;
  }
  .ar .col-lg-2.both-buttons {
    padding-left: 0;
    padding-right: 15px;
  }
  .col-lg-4.col-md-6.mb-3.mb-lg-0 {
    padding-right: 0;
  }
  .ar .col-lg-4.col-md-6.mb-3.mb-lg-0 {
    padding-left: 0;
    padding-right: 15px;
  }
  #top-sec p.card-heading {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
  }
  .signinlist {
    margin-top: 10px;
  }
  .signinlist li:first-child {
    margin-right: 230px;
  }
  .ar .signinlist li:first-child {
    margin-left: 300px;
    margin-right: 0;
  }
  #top-sec {
    padding: 50px 0 0;
  }
   #social-results .main-head {
    margin-bottom: 20px;
  }
  .started-content-up-titles p {
    font-size: 16px;
    color: #545353;
    margin-bottom: 25px;
    line-height: 26px;
  }
  .social-content {
    border-radius: 20px;
    background: #F3F3F3;
    padding-top: 40px;
    border: 1px solid #E6E6E6;
  }

  .social-content-tags {
    display: flex;
    margin: 16px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .social-content-tags nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .social-tag {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 12px 16px;
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
  }

  .social-tag:hover,
  .tag-active {
    background: radial-gradient(167.52% 820.83% at -36.22% 213.33%, #FDF001 0%, #f2efb0 47.4%, #FDF001 100%);
    color: #000;
  }

  .social-page {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  .social-buttons {
    width: 247px;
    height: 56px;
    display: flex;
    justify-content: center;
    gap: 5px;
    border: 1px solid #000000;
    border-radius: 999px;
    padding: 6px;
    background-color: #000000;
  }

  .social-buttons button {
    padding: 12px 36px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    background: transparent;
    border: none;
    color: #fff;
  }
  .insta-desc {
    color: #6D6D6D;
  }
  .insta-web {
    color: #00A6FF;
  }
  .social-buttons button:hover,
  .social-aboutactive {
    background: #FDF001;
    border-radius: 20px;
    box-shadow: 0px 0px 32px 0px #FDF00180;
  }
.social-buttons .social-aboutactive button {
}
  .social-growth-box {
    margin-top: 25px;
    display: flex;
    background: #FFFFFF;
    width: 437px;
    height: 299px;
    border-radius: 20px 20px 0px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid #E6E6E6;
    border-bottom: none;
  }

  .social-avatar img {
    border-radius: 50%;
    max-width: 100%;
    width: 90px;
    height: 90px;
  }

  .social-name {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-top: 15px;
  }

  .social-stats {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-content: center;
    color: #000;
    font-weight: 400;
    font-size: 12px;
    margin-top: 15px;
    text-align: center;
    align-items: center;
  }

  .social-btn {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }


  .btn-start-growth button {
    width: 163px;
    border: none;
    background: #FF3B5C;
    border-radius: 8px;
    padding: 8px 10px;
    /* gap: 10px; */
    color: #fff;
    font-weight: 700;
  }

  .btn-message button {
    width: 163px;
    background: #F3F3F3;
    border-radius: 8px;
    padding: 8px 10px;
    gap: 10px;
    color: #000;
    font-weight: 500;
    border: 1px solid #D9D9D9;
  }

  .arrwo {
    background: #F3F3F3;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #D9D9D9;
    color: #000;
    cursor: pointer;
  }

  .social-subs,
  .social-followers,
  .social-likes {
    display: flex;
    flex-direction: column;
    align-content: center;
    line-height: 16px;
  }

  span.social-numbers {
    font-size: 16px;
    font-weight: 700;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .nzGrowth {
    background: #00A66B;
    padding: 8px;
    border-radius: 8px;
    animation: fadeIn 1.5s;
    color: #fff;
  }

  .d-none {
    display: none;
  }

  .header-topbar {
    border-bottom: 1px solid #FFFFFF14;
    border-top: 1px solid #FFFFFF14;
    padding: 16px;
    z-index: 99;
    display: none;
  }

  ul.topbar-list {
    display: flex;
    gap: 50px;
    flex-direction: row;
    margin: 0;
  }

  ul.topbar-list li {
    font-size: 12px;
    font-weight: 700;
    color: #8f8f8f;
  }
  

  .insta-toolbar {
    width: 375px;
    margin-top: 10px;
    border-top: 1px solid #D9D9D9;
  }

  .insta-toolbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
  }

  .insta-toolbar ul li {
    width: 125px;
    text-align: center;
    padding: 12px;
  }

  .insta-toolbar ul li:first-child {
    border-bottom: 1px solid #ffffff2e;
  }

  .insta-growth {
    height: unset;
    padding-top: 20px;
  }

  .insta-btn button {
    background-color: #00A6FF;
    border: 1px solid #00A6FF;
  }

  .insta-row {
    flex-direction: row;
    display: flex;
  }

  .insta-row .social-avatar {
    margin-right: 20px;
  }
  .ar .insta-row .social-avatar {
    margin-left: 20px;
    margin-right: 0;
  }
  .insta-row .social-stats {
    gap: 40px;
  }

  .insta-info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 365px;
    flex-wrap: wrap;
    gap: 8px;
    line-height: 21px;
    color: #000;
  }

  .w-700 {
    font-weight: 700;
  }

  .f-size-16 {
    font-size: 16px;
  }
  @media screen and (max-width: 768px) {
    .social-content-tags {
      justify-content: flex-start;
    }
    .social-content-tags nav {
      flex-wrap: nowrap;
      align-items: center;
      overflow-x: scroll;
      justify-content: flex-start;
      width: 340px;
    }
     .insta-growth {
       border-radius: 20px 20px 20px 20px;
       width: 365px;
       height: unset;
       padding: 0px;
    }
     .insta-row {
       align-items: center;
       margin-top: 15px;
    }
    .social-avatar img {
      width: 50px;
      height: 50px;
    }
     .insta-row .social-stats {
       gap: 35px;
    }
    .insta-info {
      width: 320px;
    }
    .arrwo {
      display: none;
    }
     .insta-toolbar {
       width: 365px;
    }
    .insta-toolbar ul li {
      width: 110px;
    }
    
  }
  @media (max-width: 575px){
    .card.card-border{
      margin-top: 0;
    }
    .card.card-border .p-4 {
      padding: 15px;
    }
    #top-sec p.card-heading {
      font-size: 18px;
    }
    .card.card-border .row {
      flex-direction: column;
    }
    .card.card-border .col-lg-4.col-md-6.mb-3.mb-lg-0 {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
    .card.card-border .home-input {
      margin-bottom: 10px;
      height: 48px;
    }
    .icon {
      width: 32px;
      height: 32px;
      font-size: 14px;
      min-width: 32px;
    }
    .card.card-border .col-lg-4 input {
      height: 36px;
      margin-left: 0px;
      padding-left: 5px;
      flex: 0;
    }
    .col-lg-2.both-buttons {
      display: none;
    }
    .col-lg-2 {
      display: block;
      width: 100%;
    }
    .signinlist li:first-child {
      margin-right: 0;
    }
    .signinlist {
      justify-content: space-between;
    }
    .signinlist label {
      padding-left: 0;
    }
    #remember {
      margin-right: 5px;
      margin-left: 0;
    }
    .i-icon:after{
      display: none;
    }
    .ar .signinlist li:first-child {
      margin-left: 0;
      margin-right: 0;
    }
    .social-content-tags {
      overflow: hidden;
    }
    .insta-growth {
      width: 100%;
    }
    .insta-toolbar {
        width: 100%;
    }
  }
  @media (max-width: 380px){
    .social-content-tags nav {
      width: 300px;
    }
    .insta-info {
        width: 280px;
    }
    .btn-start-growth button {
      width: 133px;
    }
    .btn-message button {
      width: 133px;
    }
    .insta-toolbar ul li {
        width: 90px;
    }
    }
